*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.continer{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.continer h1{
    margin: 20px 0;
    text-align: center;
    font-size: 3rem;
}